.paginationParent {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
  /* direction: rtl; */
}
.paginationParent .paginationNumber {
  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: var(--neutral-light-no-1, rgba(255, 255, 255, 0));
  color: var(--neutral-light-n-500, #42526e);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}
.paginationParent .paginationNumber:hover {
  background: var(--neutral-light-alpha-n-30-a, rgba(9, 30, 66, 0.08));
  color: var(--neutral-light-n-500, #42526e);
}

.paginationParent .paginationNumber:active {
  background: var(--blue-b-7560, rgba(179, 212, 255, 0.6));
  color: var(--Blue-B400, #0052cc);
}

.paginationParent .paginationNumber.currentPage {
  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: var(--neutral-light-n-700, #253858);
  color: var(--neutral-light-n-20, #f4f5f7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: default;
}
.paginationParent .paginationNumber.betweenPages {
  font-size: 14px;
  color: #1e1e1e;
  cursor: default;
  border: none;
}
.paginationParent .paginationNumber.betweenPages:hover {
  background: var(--neutral-light-alpha-n-30-a, rgba(9, 30, 66, 0.08));
  color: var(--neutral-light-n-500, #42526e);
}
.prev,
.next {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  background: var(--neutral-light-no-1, rgba(255, 255, 255, 0));
  cursor: pointer;
}
.prev img,
.next img {
  filter: brightness(0) saturate(100%) invert(30%) sepia(22%) saturate(662%)
    hue-rotate(180deg) brightness(97%) contrast(96%);
}
.prev.disable img,
.next.disable img {
  filter: brightness(0) saturate(100%) invert(69%) sepia(10%) saturate(292%)
    hue-rotate(171deg) brightness(98%) contrast(93%);
}
.prev.disable,
.next.disable {
  cursor: default;
}
