* {
  margin: 0;
  padding: 0;
}
.radioGroup-container {
  /* direction: rtl; */
  position: relative;
  display: inline-flex;
  padding: 4px;
  flex-direction: column;
  gap: 4px;
}

.radioGroup-header {
  display: flex;
  align-items: center;
  gap: 4px;
}
.radioGroup-title {
  color: var(--neutral-light-n-200, #6b778c);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.radioGroup-body {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.radioGroup-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 17px;
  width: 17px;
  z-index: 10;
}
.radioGroup-input:checked ~ .radioGroup-circle {
  background-color: #0052cc;
  border: 3px solid #0052cc;
}
.radioGroup-circle {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 3px solid #dfe1e6;
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radioGroup-circle::after {
  content: "";
  display: none;
}
.radioGroup-input:checked ~ .radioGroup-circle::after {
  display: block;
}

.radioGroup-circle::after {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
}

.radioGroup-input:active ~ .radioGroup-circle::after {
  background-color: #0052cc;
}

.radioGroup-input.disabled ~ span.radioGroup-circle.disabled::after {
  background-color: #a5adba;
}

.radioGroup-input:hover,
.radioGroup-input:active {
  background-color: #ebecf0;
}
.radioGroup-input:hover ~ .radioGroup-circle,
.radioGroup-input:active ~ .radioGroup-circle {
  background-color: #ebecf0;
}
.radioGroup-input:focus ~ .radioGroup-circle {
  border: 3px solid#4c9aff;
  background-color: #fafbfc;
}

.radioGroup-input:checked:hover ~ .radioGroup-circle {
  background-color: #0065ff;
  border: 3px solid #0065ff;
}
.radioGroup-input:checked:active ~ .radioGroup-circle {
  background-color: #deebff;
}
.radioGroup-input:checked:active ~ .radioGroup-circle::after {
  background-color: #FFFFFF;
}
.radioGroup-input:checked:focus ~ .radioGroup-circle {
  border: 3px solid#4c9aff;
  background-color: #0052cc;
}

.radioGroup-label {
  color: var(--neutral-light-n-900, #091e42);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radioGroup-label.disabled,
.radioGroup-label.disabled:hover {
  color: var(--neutral-light-n-900, #091e42);
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
}
.radioGroup-required {
  color: #bf2600;
}
span.radioGroup-circle.disabled,
span.radioGroup-circle.disabled:hover,
span.radioGroup-circle.disabled:active,
span.radioGroup-circle.disabled:focus,
.radioGroup-input.disabled ~ span.radioGroup-circle.disabled,
.radioGroup-input.disabled ~ span.radioGroup-circle.disabled:hover,
.radioGroup-input.disabled ~ span.radioGroup-circle.disabled:active,
.radioGroup-input.disabled ~ span.radioGroup-circle.disabled:focus {
  border: 3px solid #f4f5f7;
  background-color: #f4f5f7;
  cursor: default;
}
