.breadcrumb-container {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
  overflow: hidden;
  /* direction: rtl; */
}
.breadcrumb-item,
.breadcrumb-item * {
  color: var(--neutral-light-n-200, #6b778c);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.breadcrumb-slash {
  color: var(--neutral-light-n-200, #6b778c);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
