.pageHeader-container {
  /* direction: rtl; */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  box-sizing: border-box;
  gap: 12px;
}
.pageHeader-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pageHeader-title {
  color: var(--neutral-light-n-800, #172b4d);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.pageHeader-buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}
