.checkbox-container {
  display: flex;
  align-items: center;
  gap: 4px;
  /* direction: rtl; */
  position: relative;
}
.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
  z-index: 10;
}
.checkbox-input:checked ~ .checkbox-square {
  background-color: #0052cc;
  border: 3px solid #0052cc;
}
.checkbox-square {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0;
  margin: 0px 3px;
  border: 3px solid #dfe1e6;
  border-radius: 8px;
  background-color: #fafbfc;
  position: relative;
  z-index: 1;
}
.checkbox-square:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-input:checked ~ .checkbox-square:after {
  display: block;
}
.checkbox-square:after {
  right: 5px;
  bottom: 4px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 5px 5px 0;
  border-radius: 0 0 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-input:checked {
  background-color: #0052cc;
}
.checkbox-square:hover,
.checkbox-input:hover ~ .checkbox-square {
  background-color: #0065ff;
  border: 3px solid #0065ff;
}
.checkbox-square:active,
.checkbox-input:active ~ .checkbox-square {
  border: 3px solid #deebff;
  background-color: #deebff;
}

span.checkbox-square.disabled,
span.checkbox-square.disabled:hover,
span.checkbox-square.disabled:active,
span.checkbox-square.disabled:focus,
.checkbox-input.disabled ~ span.checkbox-square.disabled,
.checkbox-input.disabled ~ span.checkbox-square.disabled:hover,
.checkbox-input.disabled ~ span.checkbox-square.disabled:active,
.checkbox-input.disabled ~ span.checkbox-square.disabled:focus {
  border: 3px solid #f4f5f7;
  background-color: #f4f5f7;
  cursor: default;
}
.checkbox-label {
  color: var(--neutral-light-n-900, #091e42);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-label.disabled,
.checkbox-label.disabled:hover {
  color: var(--neutral-light-n-900, #091e42);
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
}
.checkbox-required {
  color: #bf2600;
}
