.toggle-container {
  display: flex;
  max-width: 32px;
  height: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 2px solid var(--Blue-B100, rgba(0, 0, 0, 0));
  padding: 2px;
  padding-bottom: 3px;
}
.toggle-container:active {
  border: 2px solid var(--Blue-B100, #4c9aff);
}
.toggle-body {
  cursor: pointer;
}
.toggle-body.not-active {
  display: flex;
  padding: 2px 2px 2px 6px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  background: var(--neutral-light-n-200, #6b778c);
}
.toggle-body.not-active:hover {
  background: var(--neutral-light-n-70, #a5adba);
}
.toggle-body.not-active.disable {
  background: var(--neutral-light-n-20, #f4f5f7);
  cursor: default;
}
.toggle-body.active {
  display: inline-flex;
  padding: 2px 2px 2px 6px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  background: var(--Green-G400, #00875a);
}
.toggle-body.active:hover {
  background: var(--Green-G300, #36b37e);
}
.toggle-body.active.disable {
  background: var(--neutral-light-n-20, #f4f5f7);
  cursor: default;
}
